save=true
save-prefix="~"
progress=false
registry=https://nexus.enbw.com/repository/npm
headers[]="app_id:b2e2.edea.b2e2-nexus-iq"
email=m.goedde@enbw.com
always-auth=true
_auth=bWFnbnVzLmdvZWRkZTpCU2pEenQ4elI3TXIyaFVI